## 0 - Imports

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1 - First Look at Data

In [3]:
raw_df = pd.read_csv('data/stroke.csv')
raw_df.head(3)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [10]:
cat_cols = [col for col in raw_df.columns if raw_df[col].nunique() < 10]
cat_cols

['gender',
 'hypertension',
 'heart_disease',
 'ever_married',
 'work_type',
 'Residence_type',
 'smoking_status',
 'stroke']

In [14]:
for col in cat_cols:
    print('--------',col)
    print(raw_df[col].unique())

-------- gender
['Male' 'Female' 'Other']
-------- hypertension
[0 1]
-------- heart_disease
[1 0]
-------- ever_married
['Yes' 'No']
-------- work_type
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
-------- Residence_type
['Urban' 'Rural']
-------- smoking_status
['formerly smoked' 'never smoked' 'smokes' 'Unknown']
-------- stroke
[1 0]

In [10]:
raw_df.smoking_status.value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [15]:
raw_df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [17]:
raw_df.stroke.value_counts(normalize=True)*100

0    95.127202
1     4.872798
Name: stroke, dtype: float64

## 2 - Data Analysis

In [12]:
df1 = raw_df.copy()